:root {
  --logo-color1: #2196f3;
  --logo-color2: #000000;
  --hover-color: #2196f3;
  --link-color: #212121;
  --contact-color: #757575;
  --h1-color: #ffffff;
  --background-color: #2f303a;
  --body-background-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --button-shadow: #f5f4fa;
  --footer-logo: #ffffff99;
}

body {
  font-family: "Roboto", "Raleway";
  font-style: normal;
  display: block;
  background-color: var(--body-background-color);
}

.h1background {
  position: absolute;
  width: 1600px;
  height: 600px;
  background: #2f303a;
}

.logo {
  /* position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px; */
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color1);
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--h1-color);
}

.logo .studio {
  color: var(--logo-color2);
}

.studio2 {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}

.page-links .link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link:hover {
  color: var(--logo-color1);
}

.link:focus {
  color: var(--logo-color1);
}

.contact .contact1 {
  text-decoration: none;
  position: absolute;
  /* width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.contact .contact1:hover {
  color: var(--logo-color1);
}

.contact .contact1:focus {
  color: var(--logo-color1);
}

.contact .contact2 {
  position: absolute;
  /* width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
}

.contact .contact2:hover {
  color: var(--hover-color);
}

.contact .contact2:focus {
  color: var(--logo-color1);
}

.contact .contact3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo);
  text-decoration: none;
}

.contact .contact3:hover {
  color: var(--hover-color);
}

.contact .contact3:focus {
  color: var(--logo-color1);
}

.contact .contact4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-logo);
}

.contact .contact4:hover {
  color: var(--hover-color);
}

.contact .contact4:focus {
  color: var(--logo-color1);
}

h5 {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.h5-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h4 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.h4-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

h2 {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.specialty {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

.btn-primary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--body-background-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--hover-color);
  box-shadow: var(var(--hover-color));
  border-radius: 4px;
  border-style: none;
}

.btn-secondary {
  color: var(--link-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
}

.btn-secondary:hover {
  background-color: var(--hover-color);
  color: var(--body-background-color);
}

footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  background: var(--background-color);
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}
