:root {
  --logo-color1: #2196f3;
  --logo-color2: #000000;
  --hover-color: #2196f3;
  --link-color: #212121;
  --contact-color: #757575;
  --h1-color: #ffffff;
  --background-color: #2f303a;
  --title-color: #212121;
  --text-color: #757575;
  --button-shadow: #f5f4fa;
  --footer-logo: #ffffff99;
  --body-background-color: #e5e5e5;
  --contact-icon-color: #757575;
  --media-icon-fill: #afb1b8;
}

body {
  background-color: var(--h1-color);
  display: block;
  font-family: "Roboto", "Raleway";
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}

.section {
  padding: 94px 0 94px 0;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 93px;
  padding: 24px 0 25px 0;
}

.people-background {
  display: block;
}

.page-links {
  display: flex;
  flex-direction: row;
  gap: 43px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.h1background {
  text-align: center;
  padding: 200px;
  max-width: 1600px;
  width: 100%;
  height: 600px;
  height: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img.jpg");
}

.icon-envelope {
  margin: 0 10px 0 0;
  fill: var(--contact-icon-color);
}

.icon-smartphone {
  margin: 0 10px 0 0;
  fill: var(--contact-icon-color);
}

.icon-theme {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.antenna {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding: 25px 100px 25px 100px;
}

.clock {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px 25px 100px;
}

.diagram {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px 25px 100px;
}

.astronaut {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px 25px 100px;
}

.social-focus:focus .icon-social {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.social-focus:focus .footer-social-media {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.social-focus:focus {
  outline: none;
}

.icon-social {
  width: 40px;
  height: 40px;
  fill: var(--media-icon-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social:hover {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color1);
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--h1-color);
}

.logo .studio {
  color: var(--logo-color2);
}

.studio2 {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}

.link {
  position: relative;
  text-decoration: none;
  list-style: none;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .page-links {
  list-style: none;
  display: flex;
}

.link:hover {
  color: var(--logo-color1);
}

.link:focus {
  color: var(--logo-color1);
  outline: none;
}

.link-active {
  position: relative;
  color: var(--hover-color);
}

.link-active::after {
  position: absolute;
  background-color: var(--hover-color);
  border-radius: 2px;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  top: 46px;
}

.nav-link:after {
  position: absolute;
  background-color: transparent;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  transform: translateY(700%);
}

.nav-link:hover::after,
.nav-link:focus::after {
  background-color: var(--hover-color);
}

.contact1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact1:hover .icon-envelope {
  fill: var(--hover-color);
}

.contact1:hover {
  color: var(--hover-color);
}

.contact1:focus {
  color: var(--logo-color1);
  fill: var(--hover-color);
  outline: none;
}

.contact1:focus .icon-envelope {
  fill: var(--hover-color);
}

.contact2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact2:hover {
  color: var(--hover-color);
}

.contact2:hover .icon-smartphone {
  fill: var(--hover-color);
}

.contact2:focus {
  color: var(--logo-color1);
  fill: var(--hover-color);
  outline: none;
}

.contact2:focus .icon-smartphone {
  fill: var(--hover-color);
}

.footer-mail {
  margin: 9px 0 0 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 50px;
  margin-left: auto;
}

.footer-mail:hover {
  color: var(--hover-color);
}

.footer-mail:focus {
  color: var(--logo-color1);
  outline: none;
}

.footer-tel {
  margin: 9px 0 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-logo);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover {
  color: var(--hover-color);
}

.footer-tel:focus {
  color: var(--logo-color1);
  outline: none;
}

h5 {
  margin: 30px 0 10px 0;
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.h5-description {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.product-card-header {
  padding: 20px 24px 4px 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

img {
  display: block;
}

.product-card-description {
  border-spacing: 50px;
  padding: 4px 24px 20px 24px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.h2 {
  text-align: center;
  padding: 0px;
  margin: 0 0 50px 0;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.h2-team {
  text-align: center;
  margin: 0px 0 50px 0;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
}

.work {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.team-background {
  background-color: var(--button-shadow);
  padding: 94px 0;
}

.team-card-name {
  margin: 30px 0 10px 0;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-card-specialty {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

.btn-primary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--h1-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--hover-color);
  box-shadow: var(var(--hover-color));
  border-radius: 4px;
  border-style: none;
}

.btn-secondary {
  color: var(--link-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--hover-color);
  color: var(--h1-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.filter-buttons {
  padding: 94px 0 0 0;
  gap: 8px;
  justify-content: center;
  display: flex;
  list-style: none;
  padding-inline-start: 40px;
}

.product {
  gap: 30px;
  box-sizing: border-box;
  margin: 50px 0 94px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding: 60px;
  background: var(--background-color);
}

.footer-contact {
  padding-inline-start: 0px;
  text-align: left;
  list-style: none;
}

.footer-wrap {
  display: flex;
}

.footer-social {
  display: block;
  margin: 12px 0 40px 70px;
}

.footer-social-media {
  background-color: #ffffff1a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  fill: var(--h1-color);
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media:nth-last-child(1) {
  margin-right: 0;
}

.footer-social-media:hover {
  background-color: var(--hover-color);
  border-radius: 50%;
}

.join-us {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--h1-color);
}

.icon-logo {
  width: 170px;
  height: 92px;
  fill: var(--media-icon-fill);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo:hover {
  fill: var(--hover-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.client:focus .icon-logo {
  fill: var(--hover-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.client:focus {
  outline: none;
}

.our-clients {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer address {
  font-style: normal;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--body-background-color);
}

.hidden-window {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  align-items: center;
  display: flex;
}

.overlay > p {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 49px 45px 49px 25px;
}

li:hover .overlay {
  transform: translateY(0);
}

.work-box {
  position: relative;
}

.work-name-box {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h1-color);
  padding: 27px 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.modal {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  max-width: 528px;
  max-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--h1-color);
  cursor: pointer;
  margin: 8px 8px 0 0;
}

.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  align-items: center;
  justify-content: center;
  transition-property: initial;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease-in-out;
}
