:root {
  --logo-color1: #2196f3;
  --logo-color2: #000000;
  --hover-color: #2196f3;
  --link-color: #212121;
  --contact-color: #757575;
  --h1-color: #ffffff;
  --background-color: #2f303a;
  --title-color: #212121;
  --text-color: #757575;
  --button-shadow: #f5f4fa;
  --footer-logo: #ffffff99;
  --body-background-color: #e5e5e5;
  --contact-icon-color: #757575;
  --media-icon-fill: #afb1b8;
}

body {
  background-color: var(--h1-color);
  display: block;
  font-family: "Roboto", "Raleway";
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}

.section {
  padding: 94px 0 94px 0;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 93px;
  padding: 24px 0 25px 0;
}

.people-background {
  display: block;
}

.page-links {
  display: flex;
  flex-direction: row;
  gap: 43px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.h1background {
  text-align: center;
  padding: 200px;
  width: 1600px;
  height: 600px;
  height: auto;
  background: #2f303a;
  background-image: url("../images/img.jpg");
}

.icon-envelope {
  margin: 0 10px 0 0;
  fill: var(--contact-icon-color);
}

.icon-envelope:hover,
.icon-envelope:focus {
  fill: var(--hover-color);
}

.icon-smartphone {
  margin: 0 10px 0 0;
  fill: var(--contact-icon-color);
}

.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: var(--hover-color);
}

.icon-theme {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
}

.antenna {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding: 25px 102.34px 25px 102.34px;
}

.clock {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 101.5px 25px 101.5px;
}

.diagram {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 33.2px 100px 33.11px 100px;
}

.astronaut {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 30.23px 115.17px 29.11px 100px;
}

.instagram {
  width: 40px;
  height: 40px;
  fill: var(--media-icon-fill);
}

.instagram:hover {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.twitter {
  width: 40px;
  height: 40px;
  fill: var(--media-icon-fill);
}

.twitter:hover {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.facebook {
  width: 40px;
  height: 40px;
  fill: var(--media-icon-fill);
}

.facebook:hover {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.twitter:hover {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.linkedin {
  width: 40px;
  height: 40px;
  fill: var(--media-icon-fill);
}

.linkedin:hover {
  fill: var(--h1-color);
  background-color: var(--hover-color);
  border-radius: 50%;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color1);
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--h1-color);
}

.logo .studio {
  color: var(--logo-color2);
}

.studio2 {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}

.page-links .link {
  text-decoration: none;
  list-style: none;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header .page-links {
  list-style: none;
  display: flex;
}

.link:hover {
  color: var(--logo-color1);
}

.link:focus {
  color: var(--logo-color1);
}

.contact .contact1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.contact .contact1:hover {
  color: var(--logo-color1);
}

.contact .contact1:focus {
  color: var(--logo-color1);
}

.contact .contact2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
}

.contact .contact2:hover {
  color: var(--hover-color);
}

.contact .contact2:focus {
  color: var(--logo-color1);
}

.footer-mail {
  margin: 9px 0 0 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo);
  text-decoration: none;
}

.contact {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 50px;
  margin-left: auto;
}

.footer-mail:hover {
  color: var(--hover-color);
}

.footer-mail:focus {
  color: var(--logo-color1);
}

.footer-tel {
  margin: 9px 0 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-logo);
}

.footer-tel:hover {
  color: var(--hover-color);
}

.footer-tel:focus {
  color: var(--logo-color1);
}

h5 {
  margin: 30px 0 10px 0;
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.descriptions {
  padding-inline-start: 0px;
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
}

.h5-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.product-card-header {
  padding: 20px 24px 4px 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

img {
  display: block;
}

.product-card-description {
  border-spacing: 50px;
  padding: 4px 24px 20px 24px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.h2 {
  text-align: center;
  padding: 0px;
  margin: 0 0 50px 0;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.h2-team {
  text-align: center;
  margin: 0px 0 50px 0;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
}

.work {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.team-background {
  background-color: var(--button-shadow);
  padding: 94px 0;
}

.team-card-name {
  margin: 30px 0 10px 0;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-card-specialty {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

.btn-primary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--h1-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--hover-color);
  box-shadow: var(var(--hover-color));
  border-radius: 4px;
  border-style: none;
}

.btn-secondary {
  color: var(--link-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--hover-color);
  color: var(--body-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-buttons {
  padding: 94px 0 0 0;
  gap: 8px;
  justify-content: center;
  display: flex;
  list-style: none;
  padding-inline-start: 40px;
}

.product {
  gap: 30px;
  box-sizing: border-box;
  margin: 50px 0 94px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  padding: 60px;
  background: var(--background-color);
}

.footer-contact {
  padding-inline-start: 0px;
  text-align: left;
  list-style: none;
}

.footer-wrap {
  display: flex;
}

.footer-social {
  display: block;
  margin: 12px 0 40px 70px;
}

.footer-social-media {
  width: 40px;
  height: 40px;
  fill: var(--h1-color);
  background-color: #ffffff 10%;
  border-radius: 50%;
}

.footer-social-media:hover {
  background-color: var(--hover-color);
  border-radius: 50%;
}

.join-us {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--h1-color);
}

.footer address {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}
